@{
    ViewBag.Title = "Ota yhteyttä";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Yhtiön nimi<br />
    Osoite<br />
    <abbr title="Puhelin">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Tuki:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>