@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Etusivu</h1>
    </div>


    <div class="row">
        <div class="col-md-4">
            <h2>Tuotteisiin</h2>
            <p>
                <a href="/Tuotteet/Index2">Tuotteet</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Asiakkaat</h2>
            <p>
                <a href="/Asiakkaat/Index">Asiakkaat</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Postipaikat</h2>
            <p>
                <a href="/Postitoimipaikat/Index">Postipaikat</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Tilaukset</h2>
            <p>
                <a href="/Tilauksets/Index">Tilaukset</a>
                <a href="/Tilausrivits/Index">Tilausrivit</a>
            </p>
        </div>
    </div>
</div>